*,
*:after,
*:before {
  // -webkit-font-smoothing: antialiased;
}

@import url("https://use.typekit.net/gnb7cfv.css");


@font-face {
    font-family: 'Hind-Regular';
    src: url('../fonts/Hind-Regular.eot') format('embedded-opentype'),
        url('../fonts/Hind-Regular.woff') format('woff'),
        url('../fonts/Hind-Regular.ttf') format('truetype'),
        url('../fonts/Hind-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Hind-Light';
//     src: url('../fonts/Hind-Light.eot') format('embedded-opentype'),
//         url('../fonts/Hind-Light.woff') format('woff'),
//         url('../fonts/Hind-Light.ttf') format('truetype'),
//         url('../fonts/Hind-Light.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Hind-Bold';
//     src: url('../fonts/Hind-Bold.eot') format('embedded-opentype'),
//         url('../fonts/Hind-Bold.woff') format('woff'),
//         url('../fonts/Hind-Bold.ttf') format('truetype'),
//         url('../fonts/Hind-Bold.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }



html {
  background-color: $color-white;
  // color: $color-grey;
  // font-family: 'Hind-Regular', sans-serif;
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color: $color-grey !important;
  text-align: left;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}


//-----SIZE

$fs-2: 0.5em;
$fs-1: 0.75em;
$fs0: 1em;
$fs1: 1.25em;
$fs2: 1.5em;
$fs3: 1.75em;
$fs4: 2em;
$fs5: 2.25em;
$fs6: 2.5em;



//-----COLOR

.white {
  color: $color-white;
}

.black {
  color: $color-black;
}

.yellow {
  color: $color-yellow;
}

.grey {
  color: $color-grey;
}


//-----WEIGHT

.thin {
  font-weight: 200;
}

.fat {
  font-weight: 900;
}

.quote {
  font-size: $fs1;
  font-weight: 400;
  line-height: 0.7;
}


//-----TAG

h1, .h1 {
  font-size: $fs4;
  color: $color-grey;
  font-weight: 600;
}

h2, .h2 {
  font-size: $fs2;
  color: $color-grey;
  font-weight: 600;
}

h3, .h3 {
}

h4, .h4 {
}

h5, .h5 {
}


small, .small, figcaption {
    font-size: $fs-1;
}

big, .big {
    font-size: $fs1;
    line-height: 1.25;
    font-weight: 300;
}

p, .p {
  font-size: $fs0;
  color: $color-grey;

  // margin: 0 0 1.5625em 0;
  // line-height: 1.3rem;
}

strong, .strong {
    font-weight: 800;
}

img {
    max-width: 100%;
    display: block;
}

mark, .mark {
    position: relative;
    background-color: transparent;

  &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 40%;
        bottom: 22%;
        left: -2px;
        right: -1px;
    }
}



// @media screen and (max-width: $breakpoint-max-md) {
// }

// @media screen and (max-width: $breakpoint-max-sm) {
// }
